$tagHeight: 30px;

.skill-item {
    display: flex;
    height: $tagHeight;
    width: 100%;

    &-label {
        position: relative;
        font-size:large;
        font-weight: 600;
        line-height: $tagHeight;
        margin-bottom: -100px;
        letter-spacing: .8px;
        text-transform: capitalize;
        height: inherit;
        padding: 0 15px;
        color: green;
    }

    &-items {
        font-size: medium;
        position: relative;
        right: 10px;
        overflow: hidden;


        // &container > span:first-child {

        // }

        &-container > span:first-of-type {
            // padding-left: 2px !important;
            margin-left: 5px !important;
        }

        &-container > span:last-of-type {
            // padding-right: 0 !important;
            margin-right: 0 !important;
        }

        &-container {
            width: fit-content;
            display: inline-block;

            .skill-item-items-child {
                margin: 0 5px;
                padding: 0 5px;
                border: 1px solid green;
                line-height: $tagHeight - 1px;
                text-transform: capitalize;
            }

            &:hover {
                animation-play-state: paused;
                cursor: pointer;

                &::after {
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    position: absolute;
                    z-index: 100;
                }
            }
        }
    }
}