$certificate-height: 150px;
.portfolio-certificate {
    position: relative;
    bottom: 10px;
    height: $certificate-height;
    margin: 0;
    overflow: hidden;
    border: 1px solid green;

    .label-rotate {
        left: -35px;
        top: 25px;
        width: 150px;
    }
}