.work-experience {
    position: absolute;
    width: 350px;

    padding-left: 30px;
    padding-right: 5px;

    &-item {
        position: relative;
        width: 100%;
        color: green;
        padding: 15px 10px 5px;

        &-company {
            width: 100%;
            display: flex;
            padding-bottom: 10px;
            margin-left: -20px;

            .company-info {
                padding: 0 10px 0 20px;
                // line-height: 10px;
                .company-name{
                    font-size: larger;
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                .company-work-title {

                }

                .company-timeline {
                    font-size: 12px;
                }
            }
        }

        &-projects {
            margin-left: -12px;
            line-height: 10px;
            width: 90%;
            text-align:left;
            .project-experience {
                position: relative;
                width: 100%;
                padding: 5px 5px 20px 40px;
                border-left: 2px solid green;
                // border-radius: 50px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 5px;
                // margin-bottom: -10px;

                &-marker {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: green;
                    top: 0;
                    left: 0;
                    transform: translate(-55%, -50%);
                    border-radius: 50px;
                    padding: 5px;
                    outline: rgb(0, 0, 0) solid 10px;

                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     top: 15px;
                    //     width: 15px;
                    //     height: 5px;
                    //     background-color: black;
                    //     transform: translateX(-35%);
                    // }

                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: -5px;
                    //     width: 15px;
                    //     height: 5px;
                    //     background-color: black;
                    //     transform: translateX(-35%);
                    // }

                }
                &-content {
                    align-items: center;

                    line-height: 15px;
                    font-size: 15px;

                    .project-name {
                        font-size:medium;
                        margin-bottom: 5px;
                    }
                    .project-info > p {
                        font-size: small;
                        margin-bottom: 0px;
                        margin-top: 0;
                        white-space: inherit;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}