@import "../PortfolioHeader/PortfolioHeader.scss";

.portfolio-content {
    position: relative;
    height: calc(100% - $header-height);
    width: 100vw;
    display: grid;
    margin-bottom: 0;
    gap: 7px;
    padding: 10px;
}

@media only screen and (min-width: 1230px) {
    .portfolio-content {
        grid-template-columns: 38% auto 330px;
        grid-template-rows: 250px auto 22%;

        &-experience {
            grid-area: 1 / 3 / 3 / 3;
        }

        &-certificate {
            grid-area: 3 / 3 / 3 / 3;
        }

        &-app {
            grid-area: 4 / 1 / 2 / 3;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 1230px) {
    .portfolio-content {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 120px 500px;

        &-skill {
            grid-area: 2 / 1;
        }

        &-experience {
            display: none;
        }

        &-certificate {
            grid-area: 3 / 1;
        }

        &-app {
            grid-area: 4 / 1;
        }
    }

}