.day-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: auto;
    margin: 1px 1px;
    padding: 5px 8px;
    background-color: #DCD7C9;
    border-radius: 3px;
    overflow-wrap: break-word;

    &_checkbox {
        width: 10%;
        align-items: center;
        justify-content: center;
        margin-left: -5px;
    }

    &_content {
        width: 90%;
        padding-left: 10px;
        span {
            line-height:normal;
            font-size: smaller;
            display: block;
            width: 100%;
            height: auto;
        }       
    }
}