.quote-random {
    position: relative;
    height: fit-content;
    line-break: auto;
    text-align: center;

    .quote-content {
        width: 100%;
        position: relative;
        left: 0;
    }

    .quote-author {
        position: relative;
        width: fit-content;
        left: 50%;
    }

}