.daily-task {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: aliceblue;
    margin: 2px;
    padding: 10px 20px;
    display: flex;

    &-checkbox {
        margin-left: 0;
    }

    &-name {
        margin-left: 10px;
        overflow-wrap: break-word;
        overflow-x: hidden;
    }
}