.app-center {
    .tool-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 50vw;
        width: 120px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 0 0% 100% 100%;
        background-image: radial-gradient(#A27B5C, #2C3639, #FFFFFF);
        color: #FFFFFF;
        opacity: .5;
        transition: all .4s;
        font-size: medium;

        &-label {
            // display: none;

            &:hover {
                cursor: pointer;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        .app-center-links {
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            display: none;
            .todo-link {
                background-image: linear-gradient(#A27B5C, #FFFFFF);
                border-radius: 10% 10% 10% 70%;
                width: 45px;
                height: 45px;
                margin-right: -5px;
                font-size: small;
                text-align: center;
                text-decoration: none;
                color: #515758;
                font-weight: 900;

                display: flex;
                align-items: center;
                justify-content:center;
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
    
            .note-link {
                background-image: linear-gradient(#FFFFFF, #2C3639);
                border-radius: 10% 10% 70% 10%;
                width: 45px;
                height: 45px;
                margin-left: -5px;
                font-size: small;
                text-align: center;
                text-decoration: none;
                color: #515758;
                font-weight:900;
                display: flex;
                align-items: center;
                justify-content:center;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
    }

    .tool-bar:hover {
        text-shadow: 0 0 3px #FFFFFF;
        opacity: 1;
    }
}