.portfolio-avatar {
    margin: 10px;
    display: flex;
    width: fit-content;
    position: relative;
    &-image {
        width: auto;
        height: 250px;
        border: 5px solid green;
        border-radius: 0;
        margin-right: 5px;
    }

    &-info {
        display: flex;
        height: 250px;
        width: 650px;
        color: green;
        border: 1px dotted green;
        box-sizing: border-box;
        margin: 0 auto;
        align-items: center;

        p {
            padding: 10px;
            margin: auto;
        }
    }
}