@import "../PortfolioHeader/PortfolioHeader.scss/";

.portfolio-content {
    position: absolute;
    display: flex;
    width: 100vw;
    height: calc(100% - $header-height);
    background-color: black;
    border: 1px solid green;

    .right-side {
        position: relative;
        right: 5px;
        overflow: hidden;
        width: 950px;
        // width: 350px;
        min-height: auto;
        margin: 10px 5px 0 10px;
        display: flex;
        flex-direction:column;
        justify-content:space-between;
    }
}