@import "../PortfolioContent.scss";

$avatar-height: 250px;
$avatar-width: 190px;

.portfolio-avatar {
    position: relative;
    height: $avatar-height;
    display: flex;
    width: 100%;

    &-image {
        width: auto;
        height: $avatar-height;
        border: 5px solid green;
        border-radius: 0;
    }

    &-info {
        display: flex;
        height: 250px;
        width: 650px;
        color: green;
        border: 1px solid green;
        border-left: 0;
        box-sizing: border-box;
        align-items: center;

        p {
            padding: 10px;
            margin: auto;
        }
    }
}