.portfolio-experience {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    // background-color: yellow;
    border: 1px dotted green;

    .label-rotate {
        left: -55px;
        top: 30px;
        width: 200px;
    }
}