.portfolio-experience {
    min-height: 450px;
    height: 495px;
    border: 1px dotted green;
    margin-bottom: 5px;

    .label-rotate {
        left: -55px;
        top: 30px;
        width: 200px;
    }
}