@import "../PortfolioContent.scss";

.portfolio-avatar {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;

    &-image {
        width: auto;
        height: 100%;
        border: 5px solid green;
        border-radius: 0;
    }

    &-info {
        display: flex;
        height: 100%;
        width: 100%;
        color: green;
        border: 1px solid green;
        border-left: 0;
        box-sizing: border-box;
        align-items: center;
        overflow: scroll;

        p {
            padding: 10px;
            margin: auto;
        }
    }
}