#contact-cv-item {
    display: flex;
    justify-content: start;
    position: relative;

    .contact-cv-item__title {

    }
    .contact-cv-item__content {
        position: absolute;
        margin-left: 20px;
        left: 80px;
    }
}