$tagHeight: 30px;

.skill-item {
    display: flex;
    height: $tagHeight;
    // background-color:beige;
    overflow:visible;

    &-label {
        position: relative;
        font-size:large;
        font-weight: 600;
        line-height: $tagHeight;
        margin-bottom: -100px;
        letter-spacing: .8px;
        text-transform: capitalize;
        height: inherit;
        padding: 0 15px;
        color: green;
    }

    &-items {
        font-size: medium;
        position: relative;
        width: 100%;
        $itemsWidth: width;
        // background-color: yellow;
        right: 10px;
        overflow: hidden;

        &-container {
            // background-color: red;
            width: fit-content;
            display: inline-block;
            .skill-item-items-child {
                margin: 0 5px;
                padding: 0 5px;
                border: 1px solid green;
                line-height: $tagHeight - 1px;
                text-transform: capitalize;
            }
        }

        .skill-animation {
            animation-name: left-right;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;

            @keyframes left-right {
                from {
                    transform: translateX(0);
                    left: 0;
                }
    
                to {
                    left: 100%;
                    transform: translateX(-100%);
                }
            }
        }

    }
}