#exp-section-cv {
    .exp-section-cv-item {
        &__working-name {
            font-size: large;
            font-weight: 800;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 3px;
        }

        &__project {
            font-size: medium;

            &__title {

                &__name {

                }

                &__teamsize {

                }
            }

            &__tech {

            }

            &__description {

            }
        }
    }
}