.personal-overview-cv {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 10px;

    p {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        // margin-top: ;
    }

    &__intro {

    }

    &__proscons {

    }

    &__skill {

    }

    &__edu {

    }

    &__cert {

    }
}