@import "../PortfolioContent.scss";
@import "../../PortfolioHeader/PortfolioHeader.scss";

.app_center {
    height: 100%;
    width: 100%;
    display: grid;

    gap: 10px;
    padding: 10px;
}

@media only screen and (min-width:1230px) {
    .app_center {
        grid-template-columns: auto;
        grid-template-rows: 180px auto 40px;


        &-activity_frequency {
            grid-area: 1 / 1 / 1 / 1;
        }

        &-app_working {
            grid-area: 2 / 1 / 2 / 1;
        }

        &-explore_more {
            grid-area: 3 / 1 / 3 / 1;
        }
    }
  }

@media only screen and (max-width:1230px) {
    .app_center {
        grid-template-columns: 100%;
        grid-template-rows: 170px auto 40px;

        &-activity_frequency {
            display: flex;
            justify-content: center;
            grid-area: 1 / 1 / 1 / 1;
        }

        &-app_working {
            grid-area: 2 / 1 / 2 / 1;
        }

        &-explore_more {
            grid-area: 3 / 1 / 3 / 1;
        }
    }
  }