.portfolio-avatar {
    margin: 10px;
    display: flex;
    &-image {
        width: auto;
        height: 250px;
        border: 5px solid green;
        border: 5px solid green;
        border-radius: 0;
    }

    &-info {
        padding: 10px;
        color: green
    }
}