.portfolio-avatar {
    margin: 10px;
    display: flex;
    &-image {
        width: auto;
        height: 250px;
        border: 5px solid green;
        border: 5px solid green;
        border-radius: 0;
    }

    &-info {
        display: flex;
        height: 250px;
        width: max-content;
        // padding: 0;
        color: green;
        align-items: center;

        p {
            padding: 20px;
            margin: auto;
        }
    }
}