$header-height: 70px;
$logo-width: 30%;
$quote-width: 40%;
$contact-width: 30%;

.portfolio-header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: black;
    padding-top: 5px;

    &-logo {
        position: absolute;
        width: $logo-width;
        height: 100%;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-quote {
        display: none;
        position: absolute;
        width: $quote-width;
        height: 100%;
        left: $logo-width;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-contact {
        position: absolute;
        width: $contact-width;
        height: 100%;
        right: 0;
        padding-right: 10px;

        display: flex;
        justify-content:flex-end;
        align-items: center;
        color: green;

        // background-color: yellow;
        > * {
            position: relative;
            width: 100px;
            height: 50px;
            margin: auto 5px;
            padding: 5px;
            // background-color: blue;
            
            display: flex;
            justify-content: center;
            align-items: center;

            color: green;
            cursor: pointer;
        }

        &-getcv {
            &::after {
                content: '';
                position: absolute;
                top: 80%;
                width: 0%;
                height: 3px;
                border-radius: 50px;
                background-image: linear-gradient(to bottom right, green, black);
                transition: width .3s, height 4s;
            }

            &:hover {
                &::after {
                    width: 65%;
                }
            }
        }

        &-give-message {
            &::after {
                content: '';
                position: absolute;
                top: 80%;
                width: 0%;
                height: 3px;
                border-radius: 50px;
                background-image: linear-gradient(to bottom right, green, black);
                transition: width .3s, height 4s;
            }

            &:hover {
                &::after {
                    width: 65%;
                }
            }
        }

        &-social {
            position: relative;
            justify-content: space-evenly;

            & > * {
                position: relative;
                width: fit-content;
                // background-color: red;
                &::after {
                    content: '';
                    position: absolute;
                    left: 20%;
                    top: 100%;
                    width: 0%;
                    height: 3px;
                    border-radius: 50px;
                    background-image: linear-gradient(to bottom right, green, black);
                    transition: width .2s, height 4s;
                }
    
                &:hover {
                    &::after {
                        width: 60%;
                    }
                }
            }
        }

        &-info {
            flex-direction: column;
            justify-content: space-between !important;
            width: fit-content;
            cursor:auto;
        }
    }
}