#label-line-decor {
    width: 99%;
    height: 99%;
    margin: 9px;

    .label-line-decor__title {
        margin-left: 9px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 21px;
        letter-spacing: 3px;
    }

    .label-line-decor__line {
        width: 69%;
        border-bottom: 3px solid black;
    }
}


