$os_left_position: 80px;
$database_left_position: 40px;

.portfolio-skill {
    position: relative;
    width: 100%;
    height: 250px;
    border: 1px solid green;
    overflow: hidden;
    color: green;

    #skill_os {
        position: absolute;
        top: 10px;
        left: $os_left_position;
        width: calc(100% - $os_left_position);
    }

    #skill_database {
        position: absolute;
        top: 50px;
        left: $database_left_position;
        width: calc(100% - $database_left_position);
    }

    #skill_web {
        position: absolute;
        top: 90px;
    }

    #skill_devops {
        position: absolute;
        top: 130px;
    }

    #skill_tool {
        position: absolute;
        top: 170px;
    }

    #skill_other {
        position: absolute;
        top: 210px;
    }
}