body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .label-rotate {
    position: absolute;
    background-color: green;
    font-size: 20px;
    font-weight: 700;
    width:200px;
    text-align:center;
    height:30px;
    color:black;
    line-height: 30px;
    transform: rotate(-45deg);
    top: 20px;
    left: -65px;     
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  color: green;
 
}

::-webkit-scrollbar-track {
  color: green;
  background: green;
  margin-block: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5px;
  border: 1px solid green;
}

::-webkit-scrollbar-thumb:hover {
  border: 20px solid green;
}

* {
  box-sizing: border-box;
  border-radius: 3px;
  scrollbar-color: green;
}
