.portfolio {
    z-index: 10;
    position: relative;
    width: 100vw;
    height: 100vh;

    @keyframes bottomShowOn {
        from  {color: red}
        to {color:black}
    }

    transition: all 1s ease;
}