@media only screen and (max-width:1230px) {
    .portfolio-header-contact {
        width: 70%;
    }
}
@media only screen and (min-width:1230px) {
    .portfolio-header-contact {
        width: 40%;
    }
}
.portfolio-header-contact {
    position: absolute;
    height: 100%;
    right: 0;
    padding-right: 10px;

    display: flex;
    justify-content:flex-end;
    align-items: center;
    color: green;

    z-index: 2;

    &-getcv {
        padding: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: green;

        & > button {
            background-color: black;
            color: green;
            cursor: pointer;
        }

        & > button:hover {
            background-color: green;
            color: black;
        }
    }

    &-leave-message {
        padding: 5px;
        background-color: green;;
        &-frame {

            & > input {
                border-color: black;
                padding: 0;
                margin: 0;
                outline: none;
            }

            & > input, button {
                background-color: black;
                color: green;
            }

            & > button {
                cursor: pointer;
            }

            & > button:hover {
                background-color: green;
                color: black;
            }
            display: flex;
        }
    }

    &-social-links {
        position: relative;
        display: flex;
        padding: 5px;
        padding-bottom: 0px;

        & > * {
            margin: 5px;

            &:hover {
                cursor: pointer;
                transform: scale(1.5);
            }
        }

        .portfolio-header-contact-linkedin {
            position: relative;
            top: 1.5px;
        }
    }

    &-contact-me {

        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        // padding: 5px;
        & > * {
            position: relative;
            & > p {
                padding: 5px;
                margin: auto;
                text-align: center;
            }
        }

        #copy-label {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .8;
            z-index: 10;
            top: 0;
            left: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            & > *:hover {
                opacity: .5;
                cursor: pointer;
            }

            #copied {
                position: absolute;
                right: 25px;
                color: red;
            }
        }

    }
}